<div class="container">
  <%= link_to "Add a list!", new_list_path %>
  <div class="cards">
  <% if @lists.any? %>
    <% @lists.each do |list| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        <h2><%= list.name %></h2>
        <%= link_to "", list_path(list) %>
      </div>
    <% end %>
  <% else %>
    <h2>There are no lists yet!</h2>
  <% end %>
  </div>
</div>
