$slate: #0f172a;
$slate-100: #f1f5f9;

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
  background-color: $slate;

  .logo {
    width: 6rem;
  }

}

a {
  color: $slate-100;
  text-decoration: none;
  font-size: 1.5rem;
}
